<!-- entries/templates/entries/entries_detail.html -->

{% extends "entries/base.html" %}

{% block content %}

<style>
    .button-56-editar {
    align-items: center;
    background-color: #EECAD5;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: left;
    }

    .button-56-editar:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
    }

    .button-56-editar:hover:after {
    transform: translate(0, 0);
    }

    .button-56-editar:active {
    background-color: #ffdeda;
    outline: 0;
    }

    .button-56-editar:hover {
    outline: 0;
    }

    @media (min-width: 768px) {
    .button-56-editar {
        padding: 0 40px;
    }
    }


</style>

    <article>
        <h2>{{ entry.date_created|date:'Y-m-d H:i' }}</h2>
        <h3>{{ entry.title }}</h3>
        <br><br>
        <div class="resultado">
            <p><strong>Meu Dia:</strong> {{ entry.content }}</p>
            <p><strong>Horas dormidas:</strong> {{ entry.horas }}</p>
            <p><strong>Qualidade do sono:</strong> {{ entry.sono }}</p>
            <p><strong>Informações sobre o sono:</strong> {{ entry.informe }}</p>
            <p><strong>Remédios:</strong></p>
            {% if remedios %}
                
                    {% for remedio in remedios %}
                        <p>{{ remedio.nome }} - Horário: {{ remedio.descricao }}</p>
                    {% endfor %}
                
            {% else %}
                <p>Nenhum remédio selecionado.</p>
            {% endif %}
        </div>
    </article>
    <p>
        <a href="{% url 'entry-update' entry.id %}">
            <button class="button-56-editar" type="submit">Editar</button>
        </a> 
        <a href="{% url 'entry-delete' entry.id %}">
            <button class="button-56-editar" type="submit">Excluir</button>
        </a>
    </p>

    <p>
    <a href="{% url 'entry-list' %}"><button class="button-56-editar" type="submit">Voltar</button></a>
    </p>
{% endblock %}